<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title> We love celebs </title>
  </head>

  <body>
    <h1>Enter your favorite celebs to form a celeb power couple </h1>
    <img src="https://data.whicdn.com/images/105807026/superthumb.jpg?t=1394540216">

    <!-- Insert Your Form Below -->
    
  <form method="POST" action="/celebs">
  <p>Male Celeb: <input type="text" name = "male_celeb" ></p>
  <p>Female Celeb: <input type="text" name = "female_celeb"> </p>
  <input type="submit">
</form>

  </body>
</html>
